/* about:newtab */

@-moz-document url("about:newtab"), url("about:home") {
    body {
        --newtab-background-color: var(--spacegrey-browser-before-load-background) !important;
        --newtab-background-color-secondary: var(--spacegrey-menu-background) !important;
        --newtab-primary-action-background: var(--spacegrey-accent) !important;
    }
}
