/* about:privatebrowsing */

@-moz-document url("about:privatebrowsing") {
    html.private {
        --in-content-page-background: var(--spacegrey-private-in-content-page-background) !important;

        /* Used by headings in promo boxes Firefox shows (like an ad for Firefox Focus) */
        --in-content-text-color: var(--spacegrey-private-text-primary-color) !important;
    }
    .wordmark {
        fill: var(--spacegrey-private-wordmark) !important;
    }
    .showPrivate {
        color: var(--spacegrey-private-text-primary-color);
    }
}
