@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --spacegrey- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
    /* Browser area before a page starts loading */
    --spacegrey-browser-before-load-background: #2b303b;

    /* Accent */
    --spacegrey-accent-bg: #5e81ac;
    --spacegrey-accent: #6f8eb5;

    /* Toolbars */
    --spacegrey-toolbar-background: #2b303b;
    --spacegrey-toolbar-color: #d8dee9;
    --spacegrey-toolbar-border-color: #282d37;
    --spacegrey-toolbar-icon-fill: #eeeeec;
    --spacegrey-inactive-toolbar-color: #282d37;
    --spacegrey-inactive-toolbar-background: var(--spacegrey-toolbar-background);
    --spacegrey-inactive-toolbar-border-color: var(--spacegrey-toolbar-border-color);
    --spacegrey-inactive-toolbar-icon-fill: #282d37;

    /* Sidebar */
    --spacegrey-sidebar-background: var(--spacegrey-toolbar-background);
    --spacegrey-inactive-sidebar-background: var(--spacegrey-sidebar-background);

    /* Menus */
    --spacegrey-menu-background: #282d37;
    --spacegrey-menu-border-color: #2b303b;
    --spacegrey-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
    --spacegrey-menu-button-hover-background: var(--spacegrey-button-background);
    --spacegrey-menu-separator-color: rgba(216, 222, 233, .1);

    /* Header bar */
    --spacegrey-headerbar-background: #2b303b;
    --spacegrey-headerbar-border-color: var(--spacegrey-toolbar-border-color);
    --spacegrey-inactive-headerbar-background: var(--spacegrey-inactive-toolbar-background);
    --spacegrey-inactive-headerbar-border-color: var(--spacegrey-inactive-toolbar-border-color);

    /* Buttons */
    --spacegrey-button-background: rgba(216, 222, 233, .1);
    --spacegrey-button-hover-background: rgba(216, 222, 233, .15);
    --spacegrey-button-active-background: rgba(216, 222, 233, .3);
    --spacegrey-button-flat-hover-background: rgba(216, 222, 233, .07);
    --spacegrey-button-flat-active-background: rgba(216, 222, 233, .1);
    --spacegrey-button-suggested-action-background: var(--spacegrey-accent-bg);
    --spacegrey-button-destructive-action-background: #bf616a;

    --spacegrey-button-close-background: var(--spacegrey-button-flat-hover-background);
    --spacegrey-button-hover-close-background:var(--spacegrey-button-hover-background);
    --spacegrey-button-active-close-background: var(--spacegrey-button-active-background);

    /* Entries */
    --spacegrey-entry-background: rgba(216, 222, 233, .1);
    --spacegrey-entry-color: #d8dee9;
    --spacegrey-inactive-entry-color: #d6d6d6;
    --spacegrey-focused-urlbar-border-color: rgba(120, 174, 237, .5); /* Same as --spacegrey-accent but with opacity*/

    /* Switch */
    --spacegrey-switch-background: rgba(216, 222, 233, .15);
    --spacegrey-switch-slider-background: #d2d2d2;
    --spacegrey-switch-active-background: var(--spacegrey-accent-bg);
    --spacegrey-switch-active-slider-background: #d8dee9;

    /* Tabs */
    --spacegrey-tabbar-background: var(--spacegrey-headerbar-background);
    --spacegrey-tabbar-tab-separator-color: rgba(216, 222, 233, .15);
    --spacegrey-tabbar-tab-hover-background: #2b303b; /* Hardcoded color */
    --spacegrey-tabbar-tab-active-background: #282d37; /* Hardcoded color */
    --spacegrey-tabbar-tab-active-background-contrast: #FAFAFA;
    --spacegrey-tabbar-tab-active-hover-background: #282d37; /* Hardcoded color */
    --spacegrey-inactive-tabbar-background: var(--spacegrey-inactive-headerbar-background);
    --spacegrey-inactive-tabbar-tab-hover-background: #282d37; /* Hardcoded color */
    --spacegrey-inactive-tabbar-tab-active-background: #282d37; /* Hardcoded color */
    --spacegrey-tab-button-background: rgba(0, 0, 0, .5);
    --spacegrey-tab-button-hover-background: rgba(0, 0, 0, .6);
    --spacegrey-tabbar-tab-identity-base-opacity: 0;
}

/* Private window colors */
:root {
    --spacegrey-private-accent: #71A1DB;

    /* Toolbars */
    --spacegrey-private-toolbar-background: #1C2438;
    --spacegrey-private-inactive-toolbar-background: var(--spacegrey-private-toolbar-background);
    /* Menus */
    --spacegrey-private-menu-background: #252F49;
    /* Header bar */
    --spacegrey-private-headerbar-background: #252F49;
    --spacegrey-private-inactive-headerbar-background: var(--spacegrey-private-toolbar-background);

    /* Text color for Firefox Logo in new private tab */
    --spacegrey-private-wordmark: #FBFBFE;

    /* New private tab background */
    --spacegrey-private-in-content-page-background: #1C2438;

    /* Private browsing info box */
    --spacegrey-private-text-primary-color: #FBFBFE;
}
