/* Private window headerbar */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root[privatebrowsingmode="temporary"] {
	--spacegrey-accent: var(--spacegrey-private-accent) !important;
	--spacegrey-accent-fg: var(--spacegrey-private-accent) !important;
	/* Toolbars */
	--spacegrey-toolbar-background: var(--spacegrey-private-toolbar-background) !important;
	--spacegrey-inactive-toolbar-background: var(--spacegrey-private-inactive-toolbar-background)  !important;		
	/* Menus */
	--spacegrey-menu-background: var(--spacegrey-private-menu-background) !important;		
	/* Change headerbar colors */
	--spacegrey-headerbar-background: var(--spacegrey-private-headerbar-background) !important;
	--spacegrey-inactive-headerbar-background: var(--spacegrey-private-inactive-headerbar-background) !important;
}

/* Add private window headerbar indicator */
:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:before {
	background: url("../icons/eye-not-looking-symbolic.svg") no-repeat;
	background-size: 64px 64px;
	content: "";
	display: block;	
	position: absolute;
	width: 64px;
	height: 46px;
	top: 0;
	transform: translate(15px, 0);
	fill: var(--spacegrey-toolbar-color) !important;
	fill-opacity: 0.2 !important;
	-moz-context-properties: fill, fill-opacity;
}

/* Hide tabsbar default private browsing indicator */
#TabsToolbar .private-browsing-indicator {
	display: none !important;
}
